.contactItem{
    display: flex;
    margin-top: 5px;
    align-items: center;
    padding: 5px;
    
}

.contactItem:hover{
    background-color: rgba(248,249,250,0.09);

}

.contactItem:hover .contactItem__param > .MuiSvgIcon-root{
    visibility: visible;
}

.contactItem__info{
    flex :1;
    margin :10px;
}
.contactItem__avatar{
    margin: 12px 12px 10px 15px;
}
.contactItem__info >h3{
    color: white;
    font-weight: 400;
    font-size: medium;
}
.contactItem__info > p{
    color: #9aa0a6
}
.contactItem__param{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
}
.contactItem__param > .MuiSvgIcon-root{
    margin-top: 5px;
    color: lightgray;
    font-size: medium;
    visibility: hidden;
}

.contactItem__param > p{
    color: #9aa0a6;
    font-size: small;
    
}