
.messageItem{
    display: flex;
    min-width: 50vw;
    margin-top: 20px;
    
}

.messageItem__content > h4,
.messageItem__me >h4{
    font-weight: 400;
}
.messageItem__me{
   
    max-width: 400px;
    margin : 10px 10px 0px auto;
    border-radius: 20px;
    background-color: #185abc;
    padding: 10px;
    color:white;
    text-align: left;
    
}
.messsageItem__other{
    display: flex;
    place-items: center;
}
.messageItem__content{
    max-width: 400px;
    border-radius: 20px;
    background-color:#3c4043;
    text-align: left;
    margin: 10px;
    padding: 10px;
    color:white;
    text-align: left;

}