
@media screen and (max-width: 1000px){
    .sidebar{
        flex:0
    }
}
.sidebar{

    display: flex;
    flex-direction: column;
    background-color: #2a2b2e;
    flex : 0.19;
    height: 100vh;
    overflow-y: scroll;
   
}


::-webkit-scrollbar {
    width: 8px;
}
  ::-webkit-scrollbar-track {
    background: #2a2b2e;
}
  ::-webkit-scrollbar-thumb {
    background: #4b4f52;
    border-radius: 4px;
}
  



.sidebar__headerButton > .MuiButtonBase-root{
    background-color: #185abc;
    color: white;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 14%), 0 3px 4px rgb(0 0 0 / 12%);
    margin : -10px 10px 15px 15px;
    width: 231px;
    height: 48px;
  
}

.sidebar__headerButtonText{
    font-weight: 600;
    margin-left: 7px;
   
  
}

.sidebar__options{
        color: grey;
}
.sidebar__options > .MuiPaper-root{
    background-color: #404243;
    color : #e8eaed;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.sidebar__options > .MuiPaper-root >.MuiMenuItem{
    padding: 15px;

}
.sidebar__header{
    position: absolute;
    top : 0;
    background-color: #2a2b2e;
    z-index: 1;
    width: 19vw;
    box-shadow:  0 2px 6px 0 rgba(0,0,0,0.45);
    display: flex;
    flex-direction: column;
    height: 148px;
    transition: box-shadow .35s ease-out
    
}

.sidebar__headerText{
    display: flex;
    height: 70px;
    margin: 10px 15px 20px 20px;
    padding: 5px;
    place-items: center;
}
.sidebar__headerText>  button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
 
    outline:none;
    
}
.sidebar__headerText>  button > .MuiSvgIcon-root{
    color: white;
}
.sidebar__headerText > h3{
    color: white;
    flex:1;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 1.3em;
}

.sidebar__contactList{
    margin-top: 150px;
}